@import './views/ListProduction.scss';
@import './views/ListMovie.scss';

.App {
    .title {
        padding: 20px;
    }
    .production-wrap {
        background: lighten(rgb(95, 227, 231), 30%);
    }
}

.modal-content {
    input, select {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }
    
}